<h3><a><%= article.title %><span class="created_at"><%=article.created_at.localtime.strftime("%Y/%m/%d %X")%></span></a> </h3>
<div id="<%=article.id%>" class="articleBody">
  <div class="articleContent">
    <%=article.content%>
</div>
 

</div>
