<script type="text/javascript">
$(function() {
	$("#article_list").accordion();
});
</script>


<div id="article_list">
	<% @articles.each do |article| %>
	<h3><a href="#"><%= article.title %></a></h3>
	<div>
		<p>
			<%=article.content %>
		</p>
	</div>
	<% end %>
</div>

