/*define layout*/
*{
	margin:0;
	padding:0;
}
ul#navigation{
margin-top:20px;
	list-style-type: square;
	
}

ul#navigation li{
   display:block;
   float:left;
   width:100px;
}

#heading{
	height:158px;
	
}
body,html,#container{
	height:100%;
}
/*define color and font*/
#container{
	background-color: darkgrey;
}
	body{
		
		background:  url(/images/bg_shadow.png) repeat-y center
	}
    #heading>*{
	margin:10px;
    }
	#heading{
		background: black url('/images/heading_light.png') repeat-y center
		
	}
	#heading h1{
		margin-top:30px;
		color: grey;
	}
	#heading a{
		font-weight: bold;
		text-decoration: none;
		color:white;
	}
/*define layout*/
