#container {
    
    border-left:3px solid #ccccff;
    border-right:3px solid #ccccff;
    border-bottom:1px solid white;
    padding :50px;
    background-color:#2b2b2b;
}

.article{
    color:grey;
    border:1px solid slategray;
    margin: 10px;
    padding:10px;

}
 body{
     color:#ccccff;
 }
body{
    margin:0px;
    padding:0px;
    background-color:black;
}

a{
    color:#ff9933;
}
