/*define layout*/
*{
	margin:0;
	padding:0;
}
ul#navigation{
	border:1px dotted black;
	list-style-type: square;
	
}

ul#navigation li{
   display:block;
   float:left;
   width:100px;
}

/*define color and font*/
	body{
		background:  url(/images/bg_shadow.png) repeat-y center
	}
/*define layout*/
