<script type="text/javascript">
  $(function() {
    $("#article_list").accordion({autoHeight:false});
  });
</script>

<div id="pager">
  <%=will_paginate @articles,:prev_label=>"previous page",:next_label=>"next page"%>
</div>

<div id="article_list">
  <% @articles.each do |article| %>
    <h3><a href="www.sina.con.cn"><%= article.title %><span class="created_at"><%=article.created_at.localtime.strftime("%Y/%m/%d %X")%></span></a> </h3>
    <div>
      <p>
        <%=article.content%>
      </p>
    </div>
  <% end %>
</div>

