<%content_for :head do%>
   <%=javascript_include_tag "users/home" %>
<%end%>

<script type="text/javascript">
  $(function() {
    $("#article_list").accordion({autoHeight:false});
  });
</script>

<div id="pager">
  <%=will_paginate @articles,:prev_label=>"previous page",:next_label=>"next page"%>
</div>

<div id="article_list">
   <%=render :partial=>"/articles/article",:collection=>@articles%>
</div>

